nav.teal
{
    opacity: 0.9;
    z-index: 9999;
    position: absolute;
}


div.proposition
{
    width: 100%;
    color: #fff;
    text-align: center;
    background: url('/public/img/header-images/1.jpg') center / cover;
    background-size: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: 0;
    top: 0;
    position: absolute;
    min-height: 350px;
}

.btn-nav
{
    margin-top: -5px;
    margin-left: 20px;
}

div.proposition .content
{
    padding: 150px 20px;
}

div.proposition .content .title
{
    margin-top: 0;
}


.error-message
{
    color: #B71C1C !important;
}

footer.page-footer
{
    padding-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}